{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chatbot.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!--Icon Library-->
  </head>

  <body>
<nav class="navbar">
  <div class="name">Stefy's Blog</div>

  <ul class="nav-links">
    <li class="dropdown">
      <a href="{% url 'home' %}" class="dropdown-toggle">Home</a>
      <ul class="dropdown-content">
        <li><a href="{% url 'home' %}#post1">Post 1</a></li>
        <li><a href="{% url 'home' %}#post2">Post 2</a></li>
        <li><a href="{% url 'home' %}#post3">Post 3</a></li>
        <li><a href="{% url 'home' %}#post4">Post 4</a></li>
        <li><a href="{% url 'home' %}#post5">Post 5</a></li>
      </ul>
    </li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'form' %}">Form</a></li>
    <li><a href="{% url 'gallery' %}">Gallery</a></li>
    <li><a href="{% url 'chatbot' %}">Chatbot</a></li>
  </ul>

  <div class="header-social-links">
    <a href="https://www.facebook.com" class="fa fa-facebook" target="_blank"></a>
    <a href="https://www.instagram.com" class="fa fa-instagram" target="_blank"></a>
    <a href="https://www.linkedin.com" class="fa fa-linkedin" target="_blank"></a>
  </div>
</nav>
    <script src="{static 'js/menu.js' %}"></script>

    <main class="main">
      <div class="chat-container" id="chat-container"></div>
      <form id="chat-form">
        <input
          type="text"
          id="user-input"
          placeholder="Answer Here..."
          autocomplete="off"
          required
        />
        <button type="submit">Trimite</button>
      </form>
      <script src="{% static 'js/chatbot.js' %}"></script>
    </main>

    <footer>
      <p>&copy; 2025 Sandu Stefania - Blog</p>
    </footer>
  </body>
</html>
