#searchContainer {
text-align: center;
margin-bottom: 20px;
}
#searchInput {
margin-bottom: 10px;
padding: 5px;
border: 1px solid black;
border-radius: 50px;
}
#searchButton {
font-family: Arial, sans-serif;
padding: 5px 10px;
color: #333;
border: none;
border-radius: 50px;
cursor: pointer;
}
#searchButton:hover {
background-color: whitesmoke;
color: #008cba;
}